<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver">
		</property>
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl">
		</property>
		<property name="username" value="test"></property>
		<property name="password" value="test"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<property name="mappingResources">
			<list>
				<value>com/station/po/xml/JYConstant.hbm.xml</value>
				<value>com/station/po/xml/JYUser.hbm.xml</value>
				<value>com/station/po/xml/JYLine.hbm.xml</value>
				<value>com/station/po/xml/JYKeyGenerator.hbm.xml</value>
				<value>com/station/po/xml/JYCabinet.hbm.xml</value>
				<value>com/station/po/xml/JYDevice.hbm.xml</value>
				<value>com/station/po/xml/JYDetector.hbm.xml</value>	
				<value>com/station/po/xml/JYHistory.hbm.xml</value>
				<value>com/station/po/xml/JYHistoryChartData.hbm.xml</value>
				<value>com/station/po/xml/JYHistoryMonthChartData.hbm.xml</value>
				<value>com/station/po/xml/JYAlarmType.hbm.xml</value>
				<value>com/station/po/xml/JYAlarmTypeCollect.hbm.xml</value>
				<value>com/station/po/xml/JYAlarm.hbm.xml</value>
				<value>com/station/po/xml/JYCabinetHistory.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 事物回滚 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="allManagerMethod"
			expression="execution(* com.station.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allManagerMethod" />
	</aop:config>

	<!-- dao -->
	<bean id="jyUserDAO" class="com.station.dao.impl.JYUserDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyLineDAO" class="com.station.dao.impl.JYLineDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyCabinetDAO" class="com.station.dao.impl.JYCabinetDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyDeviceDAO" class="com.station.dao.impl.JYDeviceDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyDetectorDAO" class="com.station.dao.impl.JYDetectorDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyKeyGeneratorDAO" class="com.station.dao.impl.JYKeyGeneratorDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyConstantDAO" class="com.station.dao.impl.JYConstantDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyAlarmTypeDAO" class="com.station.dao.impl.JYAlarmTypeDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyAlarmTypeCollectDAO" class="com.station.dao.impl.JYAlarmTypeCollectDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyHistoryDAO" class="com.station.dao.impl.JYHistoryDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyHistoryChartDataDAO" class="com.station.dao.impl.JYHistoryChartDataDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyHistoryMonthChartDataDAO" class="com.station.dao.impl.JYHistoryMonthChartDataDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyAlarmDAO" class="com.station.dao.impl.JYAlarmDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jyCabinetHistoryDAO" class="com.station.dao.impl.JYCabinetHistoryDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- service -->
	<bean id="jyUserService" class="com.station.service.impl.JYUserServiceImpl">
		<property name="userDAO">
			<ref bean="jyUserDAO" />
		</property>
		<property name="cabinetDAO">
			<ref bean="jyCabinetDAO" />
		</property>
	</bean>
	<bean id="jyLineService" class="com.station.service.impl.JYLineServiceImpl">
		<property name="lineDAO">
			<ref bean="jyLineDAO" />
		</property>
		<property name="cabinetService">
			<ref bean="jyCabinetService" />
		</property>
	</bean>
	<bean id="jyCabinetService" class="com.station.service.impl.JYCabinetServiceImpl">
		<property name="cabinetDAO">
			<ref bean="jyCabinetDAO" />
		</property>
		<property name="lineService">
			<ref bean="jyLineService" />
		</property>
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
		<property name="constantService">
			<ref bean="jyConstantService" />
		</property>
		<property name="alarmTypeService">
			<ref bean="jyAlarmTypeService" />
		</property>
		<property name="alarmTypeCollectService">
			<ref bean="jyAlarmTypeCollectService" />
		</property>
		<property name="deviceService">
			<ref bean="jyDeviceService" />
		</property>
		<property name="detectorService">
			<ref bean="jyDetectorService" />
		</property>
	</bean>
	<bean id="jyDeviceService" class="com.station.service.impl.JYDeviceServiceImpl">
		<property name="deviceDAO">
			<ref bean="jyDeviceDAO" />
		</property>
		<property name="detectorService">
			<ref bean="jyDetectorService" />
		</property>
	</bean>
	<bean id="jyDetectorService" class="com.station.service.impl.JYDetectorServiceImpl">
		<property name="detectorDAO">
			<ref bean="jyDetectorDAO" />
		</property>
	</bean>
	<bean id="jyKeyGeneratorService" class="com.station.service.impl.JYKeyGeneratorServiceImpl">
		<property name="keyGeneratorDAO">
			<ref bean="jyKeyGeneratorDAO" />
		</property>
	</bean>
	<bean id="jyConstantService" class="com.station.service.impl.JYConstantServiceImpl">
		<property name="constantDAO">
			<ref bean="jyConstantDAO" />
		</property>
	</bean>
	<bean id="jyAlarmTypeService" class="com.station.service.impl.JYAlarmTypeServiceImpl">
		<property name="alarmTypeDAO">
			<ref bean="jyAlarmTypeDAO" />
		</property>
	</bean>
	<bean id="jyAlarmTypeCollectService" class="com.station.service.impl.JYAlarmTypeCollectServiceImpl">
		<property name="alarmTypeCollectDAO">
			<ref bean="jyAlarmTypeCollectDAO" />
		</property>
	</bean>
	<bean id="jyHistoryService" class="com.station.service.impl.JYHistoryServiceImpl">
		<property name="historyDAO">
			<ref bean="jyHistoryDAO" />
		</property>
	</bean>
	<bean id="jyHistoryChartDataService" class="com.station.service.impl.JYHistoryChartDataServiceImpl">
		<property name="historyChartDataDAO">
			<ref bean="jyHistoryChartDataDAO" />
		</property>
	</bean>
	<bean id="jyHistoryMonthChartDataService" class="com.station.service.impl.JYHistoryMonthChartDataServiceImpl">
		<property name="historyMonthChartDataDAO">
			<ref bean="jyHistoryMonthChartDataDAO" />
		</property>
	</bean>
	<bean id="jyMonitorService" class="com.station.service.impl.JYMonitorServiceImpl">
		<property name="cabinetService">
			<ref bean="jyCabinetService" />
		</property>
	</bean>
	<bean id="jyAlarmService" class="com.station.service.impl.JYAlarmServiceImpl">
		<property name="alarmDAO">
			<ref bean="jyAlarmDAO" />
		</property>
	</bean>
	<bean id="jyCabinetHistoryService" class="com.station.service.impl.JYCabinetHistoryServiceImpl">
		<property name="cabinetHistoryDAO">
			<ref bean="jyCabinetHistoryDAO" />
		</property>
		<property name="historyService">
			<ref bean="jyHistoryService" />
		</property>
	</bean>
	<bean id="JYSocketService" class="com.station.service.impl.JYSocketServiceImpl">
		<property name="historyDAO">
			<ref bean="jyHistoryDAO" />
		</property>
		<property name="detectorDAO">
			<ref bean="jyDetectorDAO" />
		</property>
		<property name="cabinetHistoryDAO">
			<ref bean="jyCabinetHistoryDAO" />
		</property>
		<property name="alarmDAO">
			<ref bean="jyAlarmDAO" />
		</property>
		<property name="deviceDAO">
			<ref bean="jyDeviceDAO" />
		</property>
		<property name="cabinetDAO">
			<ref bean="jyCabinetDAO" />
		</property>
	</bean>

	<!-- action -->
	<bean id="loginAction" class="com.station.account.action.LoginAction">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
	</bean>
	<bean id="logoutAction" class="com.station.account.action.LogoutAction"></bean>

	<bean id="listUsersAction" class="com.station.account.action.ListUsersAction">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
	</bean>
	<bean id="deleteUserAction" class="com.station.account.action.DeleteUserAction">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
	</bean>
	<bean id="updateUserAction" class="com.station.account.action.UpdateUserAction">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
	</bean>
	<bean id="showUserAction" class="com.station.account.action.ShowUserRecordAction">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
	</bean>
	<bean id="addUserAction" class="com.station.account.action.AddUserAction">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
	</bean>

	<!-- alarm -->
	<bean id="AlarmAction"
		class="com.station.alarm.action.AlarmAction">
		<property name="alarmService">
			<ref bean="jyAlarmService" />
		</property>
		<property name="dataList">
			<ref bean="DataList" />
		</property>
	</bean>
	<bean id="UnhandledAlarmAction"
		class="com.station.alarm.action.UnhandledAlarmAction">
		<property name="alarmService">
			<ref bean="jyAlarmService" />
		</property>
		<property name="dataList">
			<ref bean="DataList" />
		</property>
	</bean>
	<bean id="AlarmPageAction"
		class="com.station.alarm.action.AlarmPageAction">
		<property name="alarmService">
			<ref bean="jyAlarmService" />
		</property>
	</bean>

	<!-- 监控界面 -->
	<bean id="MainAction" class="com.station.main.action.MainAction">
		<property name="monitorService">
			<ref bean="jyMonitorService" />
		</property>
		<property name="dataList">
			<ref bean="DataList" />
		</property>
	</bean>
	<bean id="CabinetStatusAction" class="com.station.main.action.CabinetStatusAction">
		<property name="monitorService">
			<ref bean="jyMonitorService" />
		</property>
		<property name="dataList">
			<ref bean="DataList" />
		</property>
	</bean>

	<!-- 历史数据 -->
	<bean id="CabinetHistoryAction" class="com.station.history.action.CabinetHistoryAction">
		<property name="cabinetHistoryService">
			<ref bean="jyCabinetHistoryService" />
		</property>
		<property name="dataList">
			<ref bean="DataList"/>
		</property>
		
	</bean>
	<bean id="HistoryPageAction" class="com.station.history.action.HistoryPageAction">
		<property name="cabinetHistoryService">
			<ref bean="jyCabinetHistoryService" />
		</property>
		<property name="dataList">
			<ref bean="DataList"/>
		</property>
	</bean>

	<!-- 获取数据 -->

	<bean id="listUsers" class="com.station.data.DataList">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
	</bean>


	<bean id="CreateTreeAction" class="com.station.tree.action.CreateTreeAction">
		<property name="lineService">
			<ref bean="jyLineService" />
		</property>
		<property name="cabinetService">
			<ref bean="jyCabinetService" />
		</property>
		<property name="deviceService">
			<ref bean="jyDeviceService" />
		</property>
		<property name="detectorService">
			<ref bean="jyDetectorService" />
		</property>
	</bean>

	<bean id="CabinetAction" class="com.station.tree.action.CabinetAction">
		<property name="cabinetService">
			<ref bean="jyCabinetService" />
		</property>
	</bean>
	<bean id="DeviceAction" class="com.station.tree.action.DeviceAction">
		<property name="deviceService">
			<ref bean="jyDeviceService" />
		</property>
		<property name="cabinetService">
			<ref bean="jyCabinetService" />
		</property>
	</bean>
	<bean id="DetectorAction" class="com.station.tree.action.DetectorAction">
		<property name="detectorService">
			<ref bean="jyDetectorService" />
		</property>
	</bean>

	<bean id="LineAction" class="com.station.tree.action.LineAction">
		<property name="lineService">
			<ref bean="jyLineService" />
		</property>
	</bean>
	
	<bean id="DataList" class="com.station.data.DataList">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
		<property name="constantService">
			<ref bean="jyConstantService" />
		</property>
	</bean>
	<bean id="InitData" class="com.station.constant.InitData">
		<property name="userService">
			<ref bean="jyUserService" />
		</property>
		<property name="keyGeneratorService">
			<ref bean="jyKeyGeneratorService" />
		</property>
		<property name="constantService">
			<ref bean="jyConstantService" />
		</property>
		<property name="alarmTypeService">
			<ref bean="jyAlarmTypeService" />
		</property>
		<property name="alarmTypeCollectService">
			<ref bean="jyAlarmTypeCollectService" />
		</property>
	</bean>
	<bean id="AlarmTypeAction" class="com.station.system.action.AlarmTypeAction">
		<property name="alarmTypeService">
			<ref bean="jyAlarmTypeService" />
		</property>
	</bean>
	
	<bean id="DeviceCompareAction" class="com.station.datapage.action.DeviceCompareAction">
		<property name="deviceService">
			<ref bean="jyDeviceService" />
		</property>
		<property name="dataList">
			<ref bean="DataList"/>
		</property>
	</bean>
	<bean id="DetectorCompareAction" class="com.station.datapage.action.DetectorCompareAction">
		<property name="detectorService">
			<ref bean="jyDetectorService" />
		</property>
		<property name="dataList">
			<ref bean="DataList"/>
		</property>
	</bean>
	
	
	<bean id="DayChartAction" class="com.station.chart.action.DayChartAction">
		<property name="historyChartDataService">
			<ref bean="jyHistoryChartDataService" />
		</property>
	</bean>
	<bean id="MonthChartAction" class="com.station.chart.action.MonthChartAction">
		<property name="historyMonthChartDataService">
			<ref bean="jyHistoryMonthChartDataService" />
		</property>
	</bean>
	<bean id="MoreChartAction" class="com.station.chart.action.MoreChartAction">
		<property name="historyChartDataService">
			<ref bean="jyHistoryChartDataService" />
		</property>
	</bean>
	<bean id="SocketAction" class="com.station.socket.SocketAction">
		
	</bean>
	
</beans>