/*v1.2.5*/
/*grid容器*/
.datagrid-container {
font-size:12px;
background:#FFFFFF;
}
.datagrid-container-border {
	border:1px solid #95B8E7
}


/*grid分页工具栏*/
.datagrid-pager {
  margin: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  height: 30px;
   border-color: #dddddd;
    background: #F4F4F4;
}
.pagination {
  zoom: 1;
}
.pagination table {
  float: left;
  height: 30px;
}
.pagination-page-list,
.pagination .pagination-num {
  border-color: #95B8E7;
}
.pagination-page-list {
  margin: 0px 6px;
  padding: 1px 2px;
  width: auto;
  height: auto;
  border-width: 1px;
  border-style: solid;
}
.pagination-btn-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #fff;
  margin: 3px 1px;
}
.pagination .pagination-num {
  border-width: 1px;
  border-style: solid;
  margin: 0 2px;
  padding: 2px;
  width: 2em;
  height: auto;
}
.p-plain{padding: 4px 6px 4px 6px; display:inline-block; cursor:pointer;}
.p-plain:hover {
	background: #eaf2ff;
  color: #000000;
  border: 1px solid #b7d2ff;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 3px 5px 3px 5px;
 }
 .p-btn-disabled {
 cursor:default;
 opacity: 0.5;
  filter: alpha(opacity=50);
  }
 .p-btn{width:16px; height:16px; line-height:16px;display:inline-block; }
.pagination-first {
  background: url('./images/pagination_icons.png') no-repeat 0 0;
}
.pagination-prev {
  background: url('./images/pagination_icons.png') no-repeat -16px 0;
}
.pagination-next {
  background: url('./images/pagination_icons.png') no-repeat -32px 0;
}
.pagination-last {
  background: url('./images/pagination_icons.png') no-repeat -48px 0;
}
.pagination-load {
  background: url('./images/pagination_icons.png') no-repeat -64px 0;
}
.pagination-info {
  float: right;
  margin: 0 6px 0 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
