span{
	font-size:12px;
}
.settings_png{
	background-image:url(../images/setting.png);
}
.monitor_png{
	background-image:url(../images/connect.png);
}
.user_png{
	background-image:url(../images/user.png);
}
.history_png{
	background-image:url(../images/history.png);
}
.data_png{
	background-image:url(../images/data.png);
}

a:hover{
	cursor:pointer;
}
.comSpan{
	cursor:pointer;
}

.errorMessage{
	color:#FF0000;
}
.comText{
	font-size:15px;	
}
.comInput{
	width:120px;	
}

html{
	height:100%;
	scrollbar-face-color: #DDEEFF; /*主色调*/
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-shadow-color: #99BBCC; /*描边颜色*/
	scrollbar-3dlight-color: #AACCDD; /*左侧边高光颜色*/
	scrollbar-arrow-color: #6688AA; /*小三角颜色*/
	scrollbar-track-color: #EEEEEE; 
	scrollbar-darkshadow-color: #DDEEFF; 
} 

/*文本框样式*/
input[type=text],[type=password]{
	width:120px;
	font-size: 12px;
	background:url(../images/form/textinput_bg.jpg) repeat-x scroll left top #ffffff;
	border-color:#a2b3bd;
	border-style:solid;
	border-width:1px;
	color:#336699;
	height: 20px;
}

.input_error{
	border-color:#ff0000;
}
/*文本框样式*/
/*按钮样式*/
.button{
	background:transparent url(../images/form/btn_bg.jpg) repeat scroll 0 0;
	border:1px solid #83b1f2;
	font-size:12px;
	height:24px;
	line-height:22px;
	>margin-right:4px;
}
/*按钮样式*/
/*下拉框*/
.selBtn{
	background-image: url(../images/form/selBtn.jpg);
	width: 22px;
	height: 24px;
	border: 0;
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
	padding: 3px 0 6px 0;
	border-bottom:solid 1px #bdcfde;
    *border-bottom:0;
    _border-bottom:0;
    vertical-align: middle;
}
select{ 
	border:none;  
	cursor: pointer;  
	cursor: hand;
	font-size: 12px;
	HEIGHT: 20px; 
	line-height: 20px;
	overflow-y:hidden;
	border-left: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	background-image: url(../images/form/textinput_bg.jpg);
	background-repeat: repeat-x;
	background-color:#F7FAFC;
	padding-left: 4px;
	vertical-align: middle;
/* 	min-width:30px; */
}
/*下拉框*/
/*文本域样式*/
textarea{
	background:url(../images/form/textarea_bg.jpg) repeat-x scroll left top #ffffff;
	overflow: auto;
	width: 250px;
	height: 80px;
	color: #000000;
	border-color:#a2b3bd;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	word-break:break-all;
	word-wrap:break-word;
}
/*文本域样式*/
fieldset{
	margin: 0px;
	padding: 0px;
}
a:link, a:visited {
	text-decoration: none; 
	color:blue; 
}
label {vertical-align:middle;}
input {vertical-align:middle;}
select{vertical-align:middle;}
span {display:-moz-inline-box;  display:inline-block;text-align: left;white-space: nowrap;vertical-align:middle;} 
.textSpan {display:-moz-inline-box;  display:inline-block;width: 65px;text-align: left;white-space: nowrap;} 
.formSpan{margin-left: 10px;}
/* 列表查询条件边框 */
.queryDiv{
	width:99%;
	border:solid 1px #89B5FE; 
	margin-top:5px;padding:5px;
}
/* 列表操作按钮边框 */
.buttonDiv{
	width:99%;
	border:solid 1px #89B5FE;
	margin-top:5px;
	padding:5px;
	margin-bottom: 5px;
}
.border{
	border:solid 1px #89B5FE;
}
.required{
	color:#FF0000;
	margin-left:5px;
}
input[type=button],[type=submit]{
	background:transparent url(../images/form/btn_bg.jpg) repeat scroll 0 0;
	border:1px solid #83b1f2;
	font-size:12px;
	height:24px;
	line-height:22px;
	margin-right:4px;
}
input[type=submit]:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
}
input[type=button]:hover{
	background-color:#E6EFC2;
    border:1px solid #C6D880;
}
input[type=button]:active{
	background-color:#529214;
    border:1px solid #529214;
}
input[type=submit]:active{
    background-color:#529214;
    border:1px solid #529214;
}
input[readonly]{
	color: #aaa
}