.config_page{
	font-size:12px;
	background-color:#444;
	width:99%;
	margin:0 auto;
	background-color:#f5f5f5;
    border:1px solid #83b1f2;
    overflow:auto;
}
.config_page .heartBeat_time{
	font-size:12px;
	margin:0 auto;
	width:640px;
	height:30px;
	padding-top:5px;
	padding-left:10px;
	border:1px solid #83b1f2;
	margin-top:5px;
	text-align:center;
}
.config_page .heartBeat_time span{
	margin-left:10px;
}
.config_page .config_time{
	font-size:12px;
	margin:0 auto;
	width:640px;
	height:30px;
	padding-top:5px;
	padding-left:10px;
	border:1px solid #83b1f2;
	margin-top:5px;
	text-align:center;
}
.config_page .config_time span{
	margin-left:10px;
}
.config_page .config_calculate{
	font-size:12px;
	margin:0 auto;
	width:640px;
	height:159px;
	padding-top:5px;
	padding-left:10px;
	border:1px solid #83b1f2;
	margin-top:5px;
	text-align:center;
}

.config_page .config_type{
	font-size:12px;
	margin:0 auto;
	width:640px;
	height:235px;
	padding-top:5px;
	padding-left:10px;
	border:1px solid #83b1f2;
	margin-top:5px;
	text-align:center;
}
.config_page .config_cost{
	font-size:12px;
	margin:0 auto;
	width:640px;
	height:30px;
	padding-top:5px;
	padding-left:10px;
	border:1px solid #83b1f2;
	margin-top:5px;
	text-align:center;
}

table.gridtable {
	font-size:12px;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	border-width: 1px;
	border-collapse: collapse;
	width:630px;
}
table.gridtable th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #000000;
	background-color: #BBFFFF;
	font-size:12px;
}
table.gridtable td {
	font-size:12px;
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #000000;
	background-color: #ffffff;
}
.config_page .config_cost span{
	margin-left:20px;
}

