.toolbar{
	min-width:900px;
	padding-top:10px;
	width:99%;
	border:solid 1px #89B5FE; 
	margin-top:5px;padding-top:10px;
	padding-left:5px;
	font-size: 12px;
}
.toolbar span{
	margin-left:10px;
}
.toolbar_left_menu{
	position:fixed;
	top:18px;
	right:8px;
}
.toolbar .toolbarButton{
	background:transparent url(../images/form/btn_bg.jpg) repeat scroll 0 0;
	border:1px solid #83b1f2;
	font-size:12px;
	height:24px;
	line-height:22px;
	margin-right:4px;
}
.toolbar .toolbarButton:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
}
.toolbar .toolbarButton:active{
    background-color:#529214;
    border:1px solid #529214;
}
.toolbar input[type=text]{
	width:120px;
	font-size: 12px;
	background:url(../images/form/textinput_bg.jpg) repeat-x scroll left top #ffffff;
	border-color:#a2b3bd;
	border-style:solid;
	border-width:1px;
	color:#336699;
	height: 20px;
}
.toolbar table{
	text-align:right;
}
